---
import Card from "@components/Card/Card.astro";
import Section from "@components/Section.astro";
import Layout from "@layouts/Layout.astro";
import { getEtablissements } from "@libs/getData";

const entries = await getEtablissements();
---

<Layout title="Établissements">
  <main class="flow">
    <Section shape="bottom" color="secondary-1">
      <h1 class="clr-surface-1 text-align:center">Établissements</h1>
      <p class="clr-surface-1">
        Les cités éducatives consistent en une grande alliance des acteurs
        éducatifs dans les quartiers prioritaires de la politique de la ville :
        parents, services de l’État, des collectivités, associations, habitants.
      </p>
    </Section>
    <Section>
      <div class="ram">
        {
          entries.map(({ name, image, location, site, url }) => (
            <Card
              title={name}
              {site}
              {location}
              image={{ url: image, alt: `Établissement ${name}` }}
              {url}
            />
          ))
        }
      </div>
    </Section>
  </main>
</Layout>
