---
import type { ImageRef } from "@libs/types/image";
import { Image } from "astro:assets";
import clsx from "clsx";

interface Props {
  image?: ImageRef;
  title?: string;
  url?: string;
  date?: string;
}
const { image, title, url, date } = Astro.props;
---

{
  url ? (
    <a href={url} class="card-main-link">
      {image && (
        <Image
          src={image.url}
          alt={image.alt ?? ""}
          width={300}
          height={300 / (5 / 3)}
          format="jpg"
        />
      )}
    </a>
  ) : (
    image && (
      <Image
        src={image.url}
        alt={image.alt ?? ""}
        width={300}
        height={300 / (5 / 3)}
        format="jpg"
      />
    )
  )
}

{
  title && (
    <h3 class={clsx("font-base h4 px-xs", !image && "pt-s")}>
      {url ? (
        <a href={url} class="card-main-link clr-text-1">
          {title}
        </a>
      ) : (
        title
      )}
    </h3>
  )
}

{
  date && (
    <div class="px-xs">
      <time class="clr-border-2 ">{date}</time>
    </div>
  )
}

<style>
  img {
    width: 100%;
    aspect-ratio: 5/3;
    object-fit: cover;
  }
  a {
    text-decoration: none;
    transition: color.3s;
    color: inherit;
  }
  a:hover,
  a:focus-visible {
    color: var(--clr-secondary-2);
  }
</style>
