---
import Card from "@components/Card/Card.astro";
import Pagination from "@components/Pagination.astro";
import Section from "@components/Section.astro";
import Layout from "@layouts/Layout.astro";
import { getActus } from "@libs/getData/actus.js";

const actualites = (await getActus()).map((el) => ({
  ...el.data,
  slug: el.slug,
}));
---

<Layout title="Actualités de la Cité Éducative">
  <main class="flow">
    <Section shape="bottom" color="surface-2">
      <h1 class="text-align:center">Actualités de la Cité Éducative</h1>
    </Section>
    <Section>
      <div class="ram">
        {
          actualites.map(
            ({
              title,
              description,
              image,
              altImage,
              date,
              slug,
              etablissement,
            }) => (
              <Card
                {title}
                {description}
                {date}
                image={{ url: image, alt: altImage }}
                url={`actualites/${slug}`}
                tag={etablissement}
              />
            )
          )
        }
      </div>
    </Section>
    <Pagination total={12} current={3} next="3" prev="2" />
  </main>
</Layout>
