---
import type { Props as CardProps } from "@components/Card/Card.astro";
import CardList from "@components/CardList.astro";
import Letters from "@components/Letters.astro";
import Section from "@components/Section.astro";
import TextCard from "@components/TextCard.astro";
import Layout from "@layouts/Layout.astro";
import { getContacts, getAbout } from "@libs/getData";
import { Image } from "astro:assets";
import imageMap from "../assets/map.png";

const pageData = getAbout();

const contacts = await getContacts();
const contactCards: CardProps[] = contacts.map(
  ({ name: title, mail, phoneNumber: phone, description }) => ({
    title,
    mail,
    phone,
    description,
  })
);
---

<Layout title="À Propos">
  <main class="flow">
    <Section shape="bottom" color="secondary-2">
      <div class="wrapper flow" style="--flow-space:var(--s-xl)">
        <h1 class="clr-surface-1 text-align:center">
          La cité éducative de Béthune
        </h1>
        <p class="clr-surface-1" set:html={pageData.description} />
      </div>
    </Section>
    <Section>
      <div
        class="wrapper flow"
        data-type="wide"
        style="--flow-space:var(--s-xl)"
      >
        <h2 class="h1 text-align:center" data-onscroll>
          <Letters text="Le Périmètre de la cité éducative" />
        </h2>
        <div class="two-columns mt-m px-s">
          <p set:html={pageData.perimetre} />
          <Image
            src={imageMap}
            width={imageMap.width}
            height={imageMap.height}
            alt={"carte de béthune"}
          />
        </div>
      </div>
    </Section>
    <Section shape="both" color="primary">
      <div
        class="wrapper flow"
        data-type="wide"
        style="--flow-space:var(--s-xl)"
      >
        <h2 class="h1 clr-surface-1 text-align:center" data-onscroll>
          Les Enjeux
        </h2>
        <div class="two-columns">
          {pageData.enjeux.map((el) => <TextCard set:html={el} />)}
        </div>
      </div>
    </Section>
    <Section>
      <h2 class="h1 text-align:center" data-onscroll>
        <Letters text="Contact" />
      </h2>
      <CardList items={contactCards} alignItemsCenter={true} />
    </Section>
  </main>
</Layout>
<style>
  .two-columns img {
    justify-self: center;
    height: auto;
  }
</style>
