---
import CardList from "@components/CardList.astro";
import Pagination from "@components/Pagination.astro";
import Section from "@components/Section.astro";
import Layout from "@layouts/Layout.astro";
import { getActus } from "@libs/getData/actus.js";
import { getEtablissements, getEtablissementbySlug } from "@libs/getData";
import type { GetStaticPaths, InferGetStaticParamsType, Page } from "astro";
import type { CollectionEntry } from "astro:content";
import type { Props as CardProps } from "@components/Card/Card.astro";

export const getStaticPaths = (async ({ paginate }) => {
  const etablissements = await getEtablissements();
  const allActus = await getActus();
  return etablissements?.flatMap(({ slug, name }) => {
    const actus = allActus.filter((el) => el.data.etablissement === name);
    return paginate(actus, { params: { slug }, pageSize: 24 });
  });
}) satisfies GetStaticPaths;
const { slug } = Astro.params;
const { page } = Astro.props as { page: Page<CollectionEntry<"actualites">> };
const actualites = page.data;
const etablissement = await getEtablissementbySlug(slug ?? "");
const cards: CardProps[] = actualites.map((el) => ({
  title: el.data.title,
  image: { url: el.data.image, alt: el.data.altImage },
  date: el.data.date,
  description: el.data.description,
  url: `/actualites/${el.slug}`,
}));
---

<Layout title="Collège Paul Verlaine">
  <main class="flow">
    <Section shape="bottom" color="surface-2">
      <div class="wrapper flow">
        <h1 class="text-align:center">{etablissement?.name}</h1>
        {etablissement?.description && <p>{etablissement.description}</p>}
      </div>
    </Section>
    <CardList items={cards} />
    <Pagination {page} />
  </main>
</Layout>
