---
import Card from "@components/Card/Card.astro";
import Pagination from "@components/Pagination.astro";
import Section from "@components/Section.astro";
import Layout from "@layouts/Layout.astro";
import { getActus } from "@libs/getData/actus.js";
import type { GetStaticPaths, Page } from "astro";
import type { CollectionEntry } from "astro:content";

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const actualites = await getActus();
  return paginate(actualites, { pageSize: 2 });
};
const { page } = Astro.props as { page: Page<CollectionEntry<"actualites">> };
const actualites = page.data.map((el) => ({ ...el.data, slug: el.slug }));
---

<Layout title="Actualités de la Cité Éducative">
  <main class="flow">
    <Section shape="bottom" color="surface-2">
      <h1 class="text-align:center">Actualités de la Cité Éducative</h1>
    </Section>
    <Section>
      <div class="ram">
        {
          actualites.map(
            ({
              title,
              description,
              image,
              altImage,
              date,
              slug,
              etablissement,
            }) => (
              <Card
                {title}
                {description}
                {date}
                image={{ url: image, alt: altImage }}
                url={`actualites/${slug}`}
                tag={etablissement}
              />
            )
          )
        }
      </div>
    </Section>
    <Pagination {page} />
  </main>
</Layout>
